body {
  font-family: Arial, sans-serif;
  background-color: #c12b2bc7;
  margin: 0;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
}

.container-parents {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 65vh;
  transition: all 5s ease;
}

.container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

#quoteDisplay {
  font-size: 1.7em;
  margin: 20px 0;
}

#authorDisplay {
  font-size: 1.4em;
  margin: 15px;
}

#quoteButton {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  background-color: #007BFF;
  color: white;
  border-radius: 5px;
}

#quoteButton:hover {
  background-color: #0353aa;
  transition: all 0.4s ease;
}

.num-of-click-container {
  display: flex;
  justify-content: center;
  align-items: end;
  font-size: 1em;
  margin-top: 20px;
  padding: 10px;
  border-radius: 15px;
  color: rgb(237, 214, 185);
  text-shadow: #204c7b 2px 2px 2px;
}

.num-of-clicks {
  margin-left: 5px;
}